version: '3.7'

services:
  ecommercecart:
    image: ecommercecart
    container_name: ecommercecart
    ports:
      - "1011:80"
    build:
      context: src/ECommerce.Api.Cart
      dockerfile: Dockerfile
    networks:
      - real

  redis:
    image: redis:6.2-alpine
    restart: always
    container_name: redis
    ports:
      - '6380:6380'
    volumes: 
      - cache:/data
    networks:
      - real 

networks:
  real:
    driver: bridge

volumes:
  cache: